<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
    layout:decorator="layout">

<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous"/>

     <link href="webjars/bootstrap/4.6.0/css/bootstrap.min.css"rel="stylesheet">  -->

</head>

<body>
    <section layout:fragment="content">

        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                <div class="card card-statistics" style="border: #e65251  solid 1px; border-radius: 10px;">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left">
                                <i class="mdi mdi-cube text-danger icon-lg"></i>
                            </div>
                            <div class="float-right">
                                <p class="mb-0 text-right">Total API Requests</p>
                                <div class="fluid-container">
                                    <h3 class="font-weight-medium text-right mb-0">[[${apirequests}]]</h3>
                                </div>
                            </div>
                        </div>
                        <p class="text-muted mt-3 mb-0">
                            <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i> Successful & Unsuccessful
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                <div class="card card-statistics" style="border: #17a2b8  solid 1px; border-radius: 10px;">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left">
                                <i class="mdi mdi-account-location text-info icon-lg"></i>
                            </div>
                            <div class="float-right">
                                <p class="mb-0 text-right">API Clients</p>
                                <div class="fluid-container">
                                    <h3 class="font-weight-medium text-right mb-0">[[${apiusercount}]]</h3>
                                </div>
                            </div>
                        </div>
                        <p class="text-muted mt-3 mb-0">
                            <i class="mdi mdi-bookmark-outline mr-1" aria-hidden="true"></i> Active, Inactive &
                            Deactivated
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                <div class="card card-statistics" style="border: #00ce68 solid 1px; border-radius: 10px;">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left">
                                <i class="mdi mdi-poll-box text-success icon-lg"></i>
                            </div>
                            <div class="float-right">
                                <p class="mb-0 text-right">Issued Keys</p>
                                <div class="fluid-container">
                                    <h3 class="font-weight-medium text-right mb-0">[[${issuedkeys}]]</h3>
                                </div>
                            </div>
                        </div>
                        <p class="text-muted mt-3 mb-0">
                            <i class="mdi mdi-calendar mr-1" aria-hidden="true"></i> Active,Inactive & Deactivated
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
                <div class="card card-statistics" style="border: #ffaf00  solid 1px; border-radius: 10px;">
                    <div class="card-body">
                        <div class="clearfix">
                            <div class="float-left">
                                <i class="mdi mdi-receipt text-warning icon-lg"></i>
                            </div>
                            <div class="float-right">
                                <p class="mb-0 text-right">Active Keys</p>
                                <div class="fluid-container">
                                    <h3 class="font-weight-medium text-right mb-0">[[${activekeys}]]</h3>
                                </div>
                            </div>
                        </div>
                        <p class="text-muted mt-3 mb-0">
                            <i class="mdi mdi-reload mr-1" aria-hidden="true"></i>Accepted API Keys
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-primary mb-5">Yearly API Request Statistics - [[${year}]]</h2>
                        <div id="chart-logs"></div>
                    </div>
                    <div class="card-body p-0">
                        <div id="chart-logs-legend" class="chart-legend"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-primary mb-5">API Request History</h2>
                        <div class="wrapper d-flex justify-content-between">
                            <div class="side-left">
                                <p class="mb-2">Successful Requests</p>
                                <p class="display-5 mb-4  font-weight-light"><b>[[${successlogs}]]%</b></p>
                            </div>
                            <div class="side-right">
                                <small class="text-muted">[[${year}]]</small>
                            </div>
                        </div>
                        <div class="wrapper d-flex justify-content-between">
                            <div class="side-left">
                                <p class="mb-2">Unsuccessful Requests</p>
                                <p class="display-5 mb-5 font-weight-light"><b>[[${failedlogs}]]%</b></p>
                            </div>
                            <div class="side-right">
                                <small class="text-muted">[[${year}]]</small>
                            </div>
                        </div>
                        <div class="wrapper">
                            <div class="d-flex justify-content-between">
                                <p class="mb-2">Approved Clients</p>
                                <p class="mb-2 text-primary">[[${approvedclients}]] &nbsp; %</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-primary progress-bar-striped progress-bar-animated"
                                    role="progressbar" aria-valuenow="[[${approvedclients}]]" aria-valuemin="0"
                                    aria-valuemax="100" id="app">
                                </div>
                            </div>
                        </div>
                        <div class="wrapper mt-4">
                            <div class="d-flex justify-content-between">
                                <p class="mb-2">UnApproved & Deactivated Clients</p>
                                <p class="mb-2 text-success">[[${unapprovedclients}]] &nbsp; %</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-success progress-bar-striped progress-bar-animated"
                                    role="progressbar" aria-valuenow="[[${unapprovedclients}]]" aria-valuemin="0"
                                    aria-valuemax="100" id="unapp"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Registered API Users / Clients<label
                                class="badge badge-success">[[${apiusers.size()}]]</label></h4>
                        <div class="table-responsive">
                            <table class="table table-bordered  table-hover table-striped" id="apiUsersTable">
                                <thead>
                                    <tr>
                                        <th>#No.</th>
                                        <th>API Client</th>
                                        <th>Email</th>
                                        <th>Contact</th>
                                        <th>Status</th>
                                        <th>End Points</th>
                                        <th>Registration Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="user, custStat: ${apiusers}">
                                        <td th:text="${custStat.count}"></td>
                                        <td style="color: #00ce68;" th:text="${user.username}"></td>
                                        <td style="color: #8862e0;" th:text="${user.email}"></td>
                                        <td th:text="${user.contact}"></td>
                                        <td>
                                            <th:block th:if="${user.status == 'Pending'}">
                                                <label style="padding: 8px;" class="badge badge-warning">&nbsp &nbsp
                                                    Pending &nbsp &nbsp</label>
                                            </th:block>
                                            <th:block th:if="${user.status == 'Deactivated'}">
                                                <label style="padding: 8px;"
                                                    class="badge badge-danger">Deactivated</label>
                                            </th:block>
                                            <th:block th:if="${user.status == 'Approved'}">
                                                <label style="padding: 8px;" class="badge badge-success">&nbsp Approved
                                                    &nbsp</label>
                                            </th:block>
                                        </td>
                                        <td class="center" th:text="${user.endpoints}"></td>
                                        <td th:text="${user.signupdate}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- webjars -->
        <!-- <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script> -->
        <!-- cdn -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.js"></script>
        <script>
            $(document).ready(function () {
                debugger
                $('#chart-logs-legend').html('');
                $("#chart-logs").empty();

                var data = JSON.parse('[(${plotValues})]');
                var jsonData = [];
                for (var i = 0; i < data.length; i++) {
                    jsonData.push({ 'month': data[i].month, 'success': parseInt(data[i].successfull), 'failed': parseInt(data[i].failed) });
                }

                // Morris.Bar({
                //     element: 'chart-logs',
                //     data: jsonData,
                //     xkey: 'month',
                //     ykeys: ['success', 'failed'],
                //     labels: ['Successful', 'Unsuccessful'],
                //     barColors: ["#2980B9", "#dc3644"],
                //     hideHover: 'auto',
                //     resize: true,
                //     ymin: 0,
                //     barSize: 40,
                //     xLabelAngle: '70'
                // });
                new Morris.Area({
                    element: 'chart-logs',
                    data: jsonData,
                    xkey: 'month',
                    parseTime: false,
                    fillOpacity: 0.4,
                    behaveLikeLine: !0,
                    // smooth: !1,
                    pointFillColors: ['#ffffff'],
                    ykeys: ['success', 'failed'],
                    pointStrokeColors: ['black'],
                    labels: ['Successful', 'Unsuccessful'],
                    lineColors: ["#2980B9", "#dc3644"],
                    hideHover: 'auto',
                    resize: true
                    // xLabelAngle: '70'
                });
                drawgridLabel();

                $("#apiUsersTable").DataTable({
                    'aoColumnDefs': [{
                        'bSortable': false,
                        'aTargets': [-1] /* 1st one, start by the right */
                    }],
                    "lengthMenu": [7, 10, 15, 25]
                });

                var unappval = "[(${unapprovedclients})]";
                var appval = "[(${approvedclients})]";
                $('#unapp').css('width', unappval + '%');
                $('#app').css('width', appval + '%');
            })

            function drawgridLabel() {
                var legendItem = $('<span style="padding:30px;"></span>').text('Unsuccessful').prepend('<i>&nbsp;&nbsp;&nbsp;&nbsp;</i>&nbsp;&nbsp;');
                legendItem.find('i').css('backgroundColor', '#dc3644');
                $('#chart-logs-legend').prepend(legendItem);

                var legendItem1 = $('<span style="padding:30px;"></span>').text('Successful').prepend('<i>&nbsp;&nbsp;&nbsp;&nbsp;</i>&nbsp;&nbsp;');
                legendItem1.find('i').css('backgroundColor', '#2980B9');
                $('#chart-logs-legend').prepend(legendItem1);
            }
        </script>
    </section>
</body>

</html>